 <div id="titleDiv">
    <h1>Typescript Turing Machine</h1>   
</div>
<div id="descriptionDiv">
    <p> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;  &nbsp; This application implements a Turing Machine which computes the set of binary strings beginning with any number of "1" followed by <em> twice </em> as many "0". <br> For example, it will accept 110000 and 111000000, but not
         1100000000, and obviously not 1001001 or 0011. Note that it decides whether  an input string <br> is valid, not by couting or comparing to any other data, <em> but purely through "raw" Turing machine read/write operations. </em>
         <br> 
    </p>    
     <p id="InputLabel">
        Enter a binary string (up to 21 digits) to try it out!
    </p>
</div>
<app-home></app-home>
