 <div id="titleDiv">
    <h1>Typescript Turing Machine</h1>
   
</div>
<div id="descriptionDiv">
    <p> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;  &nbsp; This program computes binary strings that begin with any number of "1"s followed by twice as many "0"s. So, for example, it halts with 'Accept' for <br> 110000 and 111000000, but not
         1000 or 1100000000 and obviously not 1001001 or 0011. Noteably, it computes this set of binary numbers, not through couting <br> or comparing in the traditional sense, <em> but purely through simulating a sequence of Turing machine operations. </em>
         Enter a binary string (limit 21 digits) to try it out! </p>    
</div>
<app-home></app-home>
