.rect {
  position: relative;
  top: 50px;
  width: 25px;
  height: 70px;
  left: 100px;
}

.anim-frame {
  top: 100px;
  background: green;
  left: 150px;
}

#mainDiv {
  display: inline-block;
  width: 1200px;
}

#startBtn {
  border-radius: 5px;
  font-weight: bold;
  font-family: Georgia, 'Times New Roman', Times, serif;
  height: 65px;
  width: 125px;
  background-color: cornflowerblue;
  position: absolute;
  top: 265px;
  left: 200px;
  border-width: 2px;
  border-color: black;
  border-style: solid;

}

#tDiv {
  background-color:rgb(253, 253, 226);
  border-radius: 10px;
  position: relative;
  top: 375px;
  width: 1200;
  margin-left: 50px;
  left: 150px;
  border-width: 2px;
  border-color: black;
  border-style: solid;
}

#tCanvas {
  border: 2px black;
  margin-bottom: -15px; 
}

tr {
  height: 40px;
  width: 20px;
}

td {
  border: 1px solid #000;
  height: 100%;
  width: 50px;
  justify-content: center;
}

input {
  height: 40px;
  border: 2px solid black;
}

#userString {
  width: 230px;
  margin-top: -25px;
  display: block;
}

table {
  color: green;
  position: relative;
  left: 775px;
  top: -30px;
}

#tableDiv {
  background-color: lightcyan;
  display: table;
  position: absolute;
  margin-top: 200px;
  margin-left: 36%;
}

label {
  display: block;
  height: 100%;
  min-width: 100px;
  min-height: 50px;
}

table {
  border-collapse: collapse;
}

#captionDiv {
  display: flex;
  background-color: white;
}

caption {
  margin-right: 35px;
}

#labelDiv {
  display: flex;
  margin-right: 10px;
  justify-content: center;
}

.capLabel {
  display: inline;
  justify-content: center;
}

#labelRow {
  justify-content: center;
}

th {
  margin: 15px;
  background-color: white;
}

#stateDiv {
  background-color: white;
  position: absolute;
  top: 230px;
  left: 870px;
  height: 225px;
  width: 475px;
  display: inline-block;
  vertical-align: middle;
  border-radius: 5px;
  border-width: 3px;
  border-color: green;
  border-style: solid;
}

#stateLabel {
  font-size: 1.1em;
  margin-top: 10px;  
  display: block;
  text-align: center;
  justify-content: center;
  align-content: center;
  font-weight: bold;
}

#stateValue {
  font-weight: bold;
  font-size: 1em;
  display: inline-block;
  margin-right: 30px;
}

#execLabel {
  font-size: 1.2em; 
  justify-content: center;
  align-content: center;
  display: inline-block;
  margin-left: 145px;
  margin-top: 20px;
  font-weight: bold;
}

#machineSpan {
  color: blue;
  font-size: 1.7em;
  font-weight: bold; 
  text-align: center;
  margin-right: 0px;
  margin-top: -25px;
}

#formDiv {
  position: absolute;
  top: 238px;
  left: 385px;
  display: block;
}

form {
  height: 45px;
}

#stringLabel {
  text-align: center;
  margin-right: 15px;
 
  margin-top: 10px;
  display: block;
  font-weight: bold;
}

#stringLabel2 {
  font-weight: bold;
  height: 50px;
  padding-top: 5px;
  font-size: 1.5em;
  color: green;
  display: block;
  text-align: center;
}

#form2 {
  position: relative;
  display: block;
  left: 410px;
  top: 355px;
  border: 2px black;
  margin: 5px;
}

#form22 {
  position: relative;
  display: block;
  left: 410px;
  top: 320px;
  border-width: 2px;
}

#form2Div {
  background: white;
  margin-top: 10px;
  height: 50px;
  border-radius: 5px;
  width: 125px;
  border-color: black;
  border-style: solid;
  border-width: 2px;
  width: 125px;
  display: block;
  margin-left: 20px;
}

input {
  width: 150px;
  font-weight: bold;
  font-size: 1em;
  text-align: center;
}

#instructionSpan {
  font-weight: bold;
  text-align: center;
  color: rgb(204, 7, 7);
  font-size: 1.5em;
  margin-left: 0px;
  margin-top: -25px;
  right: 20px;
}

#finalStateLabel {
  font-weight: bold;
  margin-top: 0px;
  margin-bottom: -35px;
  margin-left: 40px;
  display: inline-block;
}

#finalStateDiv {
  margin-top: 30px;
  margin-left: 20px;
}

#memoryLabel {
  display: block;
  margin-left: 20px;
  margin-top: 10px;
  font-weight: bold;
  font-size: 1.1em;
}

#aboutDiv {
  margin-left: 200px;
  margin-right: 200px;
}